@model EH_SEDO_Assignment.ViewModels.Home.HomeViewModel;

@{
    ViewData["Title"] = "Home Page";
}

@if (Model.ShowAlert)
{
    <div class="container">
        <div class="row justify-content-center">
            <div class="alert alert-success alert-dismissible col-6">
                <p class="text-center">@Model.AlertMessage</p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    </div>
}

<div class="text-center">
    <h1 class="display-4">Welcome @Model.Name</h1>
</div>
