@{
    ViewData["Title"] = "Access Denied";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<div class="account-container">
    <div class="account-box">
        <h1>Access Denied</h1>
        <hr />
        <p>You do not have permission to view this page</p>
        <div class="text-center mt-1">
            <a asp-controller="Home" asp-action="Index" class="text-decoration-none mt-3">Return to Home</a>
        </div>
    </div>
</div>